<div class="container-fluid">
  <div
    class="container-md d-flex flex-column justify-content-center align-items-center"
    style="height: 80vh"
  >
    <div class="mb-3 d-flex align-items-center gap-5">
      <h1 class="text-light" style="font-size: 10rem">Oops</h1>
      <i
        class="fa-solid fa-circle-exclamation fa-lg text-danger"
        style="font-size: 10rem"
      ></i>
    </div>
    <h2 class="text-info">
      <!-- message will be dynamic -->
      Unauthorised access, Please login to continue.
    </h2>
  </div>
</div>
